---
// Constants
import { defaultNavigationItems } from '@/constants/navigation'
import { ratedSoftwareWallets } from '@/data/software-wallets'
import { ratedHardwareWallets } from '@/data/hardware-wallets'

import { attributeTree } from '@/schema/attribute-groups'

const attributeGroups = Object.values(attributeTree)

// Layouts
import Layout from '../layouts/Layout.astro'

// Components
import Navigation from '@/views/Navigation.astro'
import WalletTable from '@/views/WalletTable.svelte'
---

<Layout
	metadata={{
		title: 'Walletbeat',
	}}
>
	<Navigation navigationItems={defaultNavigationItems} />

	<main
		data-sticky-container
		data-column='gap-6'
	>
		<header data-sticky='inline'>
			<h1>Who watches the wallets?</h1>

			<p>
				This website is still in beta. It aims to provide a comprehensive list of wallets, their
				functionality, practices, and support for certain standards.
			</p>

			<p>
				We welcome contributions via the <a
					href='https://github.com/walletbeat/walletbeat'
					target='_blank'
					rel='noreferrer'>GitHub Repository</a
				>.
			</p>
		</header>

		<WalletTable
			client:load
			title='Software Wallets'
			wallets={Object.values(ratedSoftwareWallets)}
			{attributeGroups}
		/>

		<WalletTable
			client:load
			title='Hardware Wallets'
			wallets={Object.values(ratedHardwareWallets)}
			{attributeGroups}
		/>
	</main>
</Layout>

<style>
	main {
		> header {
			&:before {
				background:
					linear-gradient(to right, var(--background-primary) 33cqi, transparent 125%),
					url('./robot.png') 98% 1rem / clamp(12rem, 24cqi, 20rem) no-repeat;
			}

			padding: clamp(1.5rem, 8cqi, 8rem) clamp(1.5rem, 6cqi, 2rem);

			text-shadow:
				0 0 1em var(--background-primary),
				0 0 2em var(--background-primary),
				0 0 3em var(--background-primary);

			h1 {
				font-size: clamp(1.5em, 5cqi, 3em);
				font-weight: 800;
				color: var(--accent);
				margin: 0 0 1rem 0;
				line-height: 1.1;
			}

			p {
				font-size: smaller;
				color: var(--text-secondary);
				line-height: 1.6;
				margin: 0;
			}
		}
	}
</style>
